// COLORS
.text-accent
    color: $accent !important
.bg-grey
    background-color: #FCF6F4

.bg-grey-2
    background-color: #F7F7F7
    
    
// GENERAL PROJECT STYLES
.text-center
    text-align: center

.btn
    padding: 16px 20px
    background: #F14624
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 160%
    text-align: center
    color: #FFFFFF
    border: 0
    transition: .3s ease
    border-radius: 5px
    display: inline-block
    cursor: pointer
    &_w-100p
        width: 100%
    &:not([disabled]):hover
        color: #fff
        background-color: #DB2E0B

    &:not([disabled]):active
        color: #fff
        background-color: #F55C3D

    &_light
        background-color: transparent
        border: 1px solid #FFFFFF
        &:hover
            color: #fff !important
            border-color: #DB2E0B !important
            background-color: #DB2E0B !important
        &:active
            color: #fff !important
            border-color: #F55C3D !important
            background-color: #F55C3D !important
    &_sm
        padding: 10px 37px

    &_light-2
        color: #4F4C4D
        border: 1px solid #4F4C4D
        background-color: #fff
        &:not([disabled]):hover
            color: #fff !important
            border-color: #DB2E0B !important
            background-color: #DB2E0B !important
        &:not([disabled]):active
            color: #fff !important
            border-color: #F55C3D !important
            background-color: #F55C3D !important
        
    &_light-3
        color: $accent
        border: 1px solid $accent
        background-color: transparent
        &:not([disabled]):hover
            color: #fff !important
            border-color: #DB2E0B !important
            background-color: #DB2E0B !important
        &:not([disabled]):active
            color: #fff !important
            border-color: #F55C3D !important
            background-color: #F55C3D !important

    &_light-4
        background-color: transparent !important
        border: 1px solid #FFFFFF !important
        color: #fff !important
        &:hover, &:active
            background-color: transparent !important
            border: 1px solid #FFFFFF !important
        

            
.btn[disabled]
    opacity: .7
    cursor: default
    &:hover
        border-color: inherit

.btn-text
    display: flex
    background-color: transparent
    border: 3px solid #F04623
    padding-left: 40px
    padding-right: 40px
    &__icon
        margin-top: auto
        margin-bottom: auto
        margin-right: 7px
        img
            margin-top: auto
            margin-bottom: auto
    &__text
        margin-top: auto
        margin-bottom: auto
        font-style: normal
        font-weight: 500
        font-size: 17px
        line-height: 1.53
        color: #FFFFFF


.more-link
    display: flex
    text-decoration: none
    &__text
        font-style: normal
        font-weight: 600
        font-size: 16px
        line-height: 25px
        color: #F14624
        transition: .3s ease
    &__text, &__icon
        margin-top: auto
        margin-bottom: auto
    &__icon
        width: 16px
        height: 15px
        margin-left: 20px
        position: relative
        svg
            position: absolute
            top: 0
            left: 0
            path
                transition: .3s ease
    &:hover
        .more-link
            &__text
                color: #FF7A00
            &__icon
                svg
                    path
                        stroke: #FF7A00




.overlay-dark
    position: relative
    &:after
        content: ''
        width: 100%
        height: 100%
        display: block
        position: absolute
        top: 0
        left: 0
        background-color: rgba(29, 23, 22, .6)

.btn_icon
    display: flex
    .btn__icon
        margin-left: auto
        margin-top: auto
        margin-bottom: auto
        width: 25px
        height: 25px
        margin-right: 10px
        svg
            display: flex
            margin-top: auto
            margin-bottom: auto
            path
                transition: .3 ease
    .btn__text
        margin-right: auto


.btn_icon_insta
    &:hover
        .btn__icon
            svg
                path
                    fill: #fff


.btn_icon_vk
    &:hover
        .btn__icon
            svg
                path.stroke
                    stroke: #fff
                path.fill
                    fill: #fff


a.btn
    text-decoration: none !important


.inverted
    *
        color: #fff

p
    margin: 0

// HEADINGS
.heading
    font-style: normal
    line-height: 130%
    user-select: none
    &_lg
        font-size: 50px
        font-weight: 700
    &_md
        font-size: 36px
        font-weight: 700
    &_xmd
        font-size: 34px
        font-weight: 700
    &_sm
        font-style: normal
        font-weight: 700
        font-size: 24px
        color: #4F4C4D


.form
    &__input
        padding-left: 25px
        padding-right: 25px
        width: 100%
        height: 57px
        transition: .3s ease
        border: 1px solid transparent
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 25px
        color: #4F4C4D
        border-radius: 5px
        margin-bottom: 30px
        &:hover
            border-color: $accent

    &__policy
        margin-top: 30px
        font-style: normal
        font-weight: 400
        font-size: 12px
        line-height: 160%
        color: #FFFFFF
        a
            text-decoration: underline
            color: #FFFFFF !important
            &:hover
                text-decoration: none
                color: #FFFFFF !important
     
.ball
    margin-bottom: 40px
    &__icon
        height: 61px
        svg
            max-height: 61px
    &__title
        font-size: 20px
        font-weight: bold
        margin-top: 20px
        margin-bottom: 20px
    &__text
        font-size: 16px

.iconned-text
    display: flex
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 1.388
    svg
        min-width: 30px
        max-width: 30px
        width: 30px
        height: 31px
        position: relative
        top: -4px
        margin-right: 20px
        
.list
    li
        position: relative
        padding-left: 20px
        font-size: 20px
        &:before
            content: ''
            display: block
            width: 8px
            height: 8px
            background-color: $textcolor
            position: absolute
            top: 12px
            left: 0
            border-radius: 50%

.breadcrumbs
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 17px
    color: #fff
    a
        color: #fff
        text-decoration: none
        transition: .3s ease
        &:hover
            color: $accent

.contact-item
    display: flex
    *
        transition: .3s ease
    &__icon
        width: 24px
        height: 24px
        margin-top: auto
        margin-bottom: auto
        display: flex
        margin-right: 8px
        svg
            margin-top: auto
            margin-bottom: auto
    &__content
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 17px
        text-align: right
        color: #4F4C4D
        margin-top: auto
        margin-bottom: auto
        a
            text-decoration: none !important


.capture-block
    position: relative
    &:before
        content: ''
        display: block
        width: calc(100% + 120px)
        border: 1px solid #F14624
        height: calc(100% + 130px)
        position: absolute
        top: -50px
        left: -40px

    &:after
        content: ''
        display: block
        width: calc(100% + 120px)
        border: 1px solid #fff
        height: calc(100% + 130px)
        position: absolute
        top: -80px
        left: -95px

    .form
        position: relative
        z-index: 2

.quote-block
    display: flex
    background-color: #F14624
    padding: 40px
    &__img
        width: 100px
        min-width: 100px
        max-width: 100px
        margin-right: 20px
        margin-top: auto
        margin-bottom: auto
        img
            border-radius: 50%
            margin-bottom: 0
    &__content
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 130%
        color: #FFFFFF
        margin-top: auto
        margin-bottom: auto
    &__title
        margin-bottom: 10px
        font-style: normal
        font-weight: 600
        font-size: 20px
        line-height: 130%
        color: #FFFFFF
    &__author
        margin-top: 10px
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 130%
        color: #FFFFFF
        &_mob
            display: none


ul.check-list
    li
        list-style-type: none
        font-style: normal
        font-weight: 700
        font-size: 15px
        line-height: 160%
        color: #4F4C4D
        position: relative
        padding-left: 26px
        margin-bottom: 10px
        &:last-child
            margin-bottom: 0
        &:before
            background-repeat: no-repeat
            background-position: 0 0
            content: ''
            display: block
            position: absolute
            width: 16px
            height: 16px
            top: 3px
            left: 0
            background-image: url(../images/dist/check-icon.svg)



.old-list
    li
        font-style: normal
        font-weight: 400
        font-size: 26px
        line-height: 39px
        color: #FFFFFF
        padding-left: 37px
        position: relative
        strong
            font-weight: 700
        &:before
            position: absolute
            left: 0
            top: 50%
            margin-top: -12.5px
            content: ''
            width: 25px
            height: 25px
            background-repeat: no-repeat
            background-position: center
            background-image: url(../images/dist/ch.png)
            background-size: cover


.text-block
    background-color: #F7F7F7
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 130%
    color: #4F4C4D
    padding-left: 20px
    padding-right: 20px
    display: flex
    text-decoration: none !important
    transition: .3s ease
    &__inner
        margin-top: auto
        margin-bottom: auto
    &__title
        font-style: normal
        font-weight: 600
        font-size: 20px
        line-height: 130%
        color: #4F4C4D
        margin-bottom: 10px
        transition: .3s ease
    &__more
        display: flex
        justify-content: space-between
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 130%
        color: #4F4C4D
        margin-top: 30px
        transition: .3s ease
        &-text, &-icon
            margin-top: auto
            margin-bottom: auto
        svg
            path
                transition: .3s ease

    &_size-1
        height: 201px

    &_size-2
        height: 246px

    &_size-3
        height: 271px

.text-block_link
    &:hover
        color: #fff
        background-color: #F14624
        .text-block
            &__title
                color: #fff

            &__more
                color: #fff
                svg
                    path
                        fill: #fff

.menu-line
    display: flex
    flex-wrap: nowrap
    overflow-x: auto
    margin-bottom: 20px
    padding-bottom: 20px
    scrollbar-color: rgba(79, 76, 77, 0.5) rgba(79, 76, 77, 0.1)
    &__item
        padding-left: 15px
        padding-right: 15px
        text-decoration: none
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 130%
        color: #4F4C4D
        white-space: nowrap
        position: relative
        transition: .3s ease
        cursor: pointer
        &:after
            content: ''
            display: block
            width: 1px
            height: 32px
            position: absolute
            top: 50%
            margin-top: -16px
            right: 0
            background-color: rgba(79, 76, 77, .5)

        &:last-child
            &:after
                display: none
        &:hover
            color: $accent
        &.active
            color: $accent


.menu-line::-webkit-scrollbar
    width: 4px
    height: 4px

.menu-line::-webkit-scrollbar-track
    background: rgba(79, 76, 77, 0.1)

.menu-line::-webkit-scrollbar-thumb
    background: rgba(79, 76, 77, 0.5)

.menu-line::-webkit-scrollbar-thumb:hover
    background: rgba(79, 76, 77, 1)

img.featured
    max-width: 100%
    height: auto

.typo
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 1.55
    color: #4F4C4D
    h3
        font-style: normal
        font-weight: 700
        font-size: 30px
        line-height: 1.8
        margin-top: 1em
        &:first-of-type
            margin-top: 0
    p
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 1.55
        color: #4F4C4D
        margin: 0.5em 0

    ul, ol
        list-style-position: inside

    ul
        margin: 1em 0
        li
            list-style-position: inside
            list-style-type: disc

    ol
        list-style-type: decimal

    h1, h2, h3, h4, h5, h6
        font-style: normal
        font-weight: 400
        font-size: 30px
        line-height: 1
        margin: 1em 0
        &:first-of-type
            margin-top: 0
    h1
        font-size: 40px
    h1
        font-size: 36px
    h3
        font-size: 30px

    a
        color: #0678E2
        text-decoration: none
        &:hover
            text-decoration: underline

    .table-responsive
        overflow-x: auto
        width: 100%

    table
        margin: 1em 0
        width: 100%
        th
            padding: 20px 5px
            font-style: normal
            font-weight: 550
            font-size: 18px
            line-height: 140%
            border-bottom: 1px solid rgba(25,25,25,1)
        td
            padding: 20px 5px
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 140%
            border-bottom: 1px solid rgba(25,25,25,.5)

    .list-2
        li
            list-style: none
            padding-left: 30px
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 160%
            position: relative
            color: #191919
            margin: 0.5em 0
            &:before
                content: ''
                display: block
                width: 20px
                height: 20px
                position: absolute
                top: 3px
                left: 0
                background-repeat: no-repeat
                background-position: 0 0
                background-image: url(../images/dist/list-2.svg)
    .video
        margin: 1em 0
    .img
        margin: 1em 0
        img
            max-width: 100%
            height: auto

        &__caption
            margin-top: 10px
            font-style: normal
            font-weight: 400
            font-size: 14px
            line-height: 160%
.quote
    font-style: normal
    font-weight: 400
    font-size: 30px
    line-height: 120%
    color: #fff
    padding-top: 36px
    padding-left: 60px
    padding-right: 180px
    padding-bottom: 55px
    position: relative
    background-color: #F14624
    margin: 2em 0
    &:after
        content: ''
        display: block
        width: 64px
        height: 50px
        top: 36px
        right: 60px
        position: absolute
        background-repeat: no-repeat    
        background-position: 0 0
        background-image: url(../images/dist/q.svg)
    &__author
        margin-top: 60px
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 138%
        color: #fff

.callblock
    padding: 39px 77px
    display: flex
    background-color: #F14624
    margin: 3em 0
    color: #fff
    border: 1px solid rgba(25,25,25,.3)
    .btn
        width: 240px
    &__text
        font-style: normal
        font-weight: 700
        font-size: 18px
        line-height: 22px
        color: #fff
        margin-right: 40px
        flex-grow: 1
    *
        margin-top: auto
        margin-bottom: auto

.card
    margin-bottom: 30px
    &__img
        img
            max-width: 100%
            height: auto
    &__title
        margin-top: 20px
        font-style: normal
        font-weight: 600
        font-size: 24px
        line-height: 130%
        margin-bottom: 8px
        color: #4F4C4D
    &__content  
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 25px
        color: #4F4C4D
        overflow: hidden
        text-overflow: ellipsis
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical

    &__author
        display: flex
        margin-top: 20px
        &-img
            img
                width: 56px
                border-radius: 50%
        &-content
            font-style: normal
            font-weight: 400
            font-size: 14px
            line-height: 160%
            color: #919191
            padding-left: 20px
            div
                font-style: normal
                font-weight: 400
                font-size: 16px
                line-height: 160%
                color: #4F4C4D
                margin-bottom: 8px

.sidebar
    user-select: none


.gallery-slider, .thumb-slider
    img
        max-width: 100%
        height: auto

.gallery-slider
    margin-bottom: 10px

    .swiper-button-prev, .swiper-button-next
        width: 50px
        height: 50px
        position: absolute
        left: 50%
        margin-top: -25px
        top: 50%
        z-index: 2
        svg
            path, rect
                transition: .3s ease
                stroke: $accent
        &:after
            display: none

        &:hover
            svg
                path, rect
                    stroke: #FF7A00

    .swiper-button-prev
        transform: rotate(180deg)

    .swiper-button-prev
        left: 10px
    .swiper-button-next
        left: auto
        right: 10px


.thumb-slider
    .swiper-slide
        transition: .3s ease
        cursor: pointer
    .swiper-slide-thumb-active
        border-radius: 5px
        border: 2px solid #F14624


.img-checkbox, .img-radio
    height: 200px
    width: 200px
    background-color: #ffffff
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2)
    border-radius: 4px
    position: relative
    cursor: pointer


.img-checkbox input[type="checkbox"], .img-radio input[type="radio"]
    -webkit-appearance: none
    position: relative
    width: 100%
    cursor: pointer

.img-checkbox input[type="checkbox"]:after, .img-radio input[type="radio"]:after 
    position: absolute
    left: -7px
    top: -27px
    width: 30px
    height: 30px
    display: none
    border-radius: 50%
    background-color: #000
    content: ''
    background-repeat: no-repeat
    background-position: center
    background-size: 50%
    background-image: url(../images/dist/check.svg)
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.4)
    z-index: 2

.img-checkbox input[type="checkbox"]:checked:after, .img-radio input[type="radio"]:checked:after 
    display: block

.img-checkbox img, .img-radio img
    position: absolute
    margin: auto
    left: 0
    right: 0
    top: 0
    bottom: 0
    width: 100%
    height: auto
    cursor: pointer

.checks
    display: flex
    flex-wrap: wrap
    .check
        margin-bottom: 10px

.check
    &__name
        margin-top: 5px
        font-size: 15px


.styled-radio
    position: relative
    margin-top: -1em
    input[type="radio"]
        -webkit-appearance: none
        position: relative
        width: 100%
        cursor: pointer
        &:before
            width: 20px
            height: 20px
            border-radius: 50%
            border: 2px solid #4F4C4D
            content: ''
            display: block
            position: absolute
            top: 12px
            left: 0

        &:after
            width: 8px
            height: 8px
            border-radius: 50%
            content: ''
            display: block
            position: absolute
            top: 18px
            left: 6px
            background-color: #4F4C4D
            opacity: 0
      
    label
        padding-left: 30px
        cursor: pointer
        position: relative
        z-index: 1

.styled-radio input[type="radio"]:checked:after 
    opacity: 1
    
.quiz
    &__top
        background-color: #fcf6f4
        padding-top: 35px
        padding-bottom: 40px
        padding-left: 45px
        padding-right: 45px
        display: flex
        justify-content: space-between
        &-title
            font-size: 14px
            font-weight: bold
            margin-top: auto
            margin-bottom: auto
            display: flex
            padding-right: 20px
            &:before
                margin-right: 10px
                margin-top: auto
                margin-bottom: auto
                content: ''
                display: block
                width: 23px
                height: 20px
                background-repeat: no-repeat
                background-position: 0 0
                background-image: url(../images/dist/doc.svg)
        &-num
            font-size: 14px
            margin-top: auto
            margin-bottom: auto
    &__content
        background-color: #fff
        padding-left: 45px
        padding-right: 45px
        padding-top: 35px
        padding-bottom: 55px
        .heading_sm
            margin-bottom: 20px
        .check
            margin-left: 5px
            margin-right: 5px
    &__progress
        height: 5px
        background-color: #cbcbcb
        width: 100%
        span
            transition: .3s ease
            background-color: $accent
            display: block
            height: 5px

    .form__input
        border-color: #cccccc
.quiz-btns
    margin-top: 80px
    display: flex
    justify-content: space-between
    .btn
        padding-left: 0
        padding-right: 0
        width: 140px

    .btn-prev
        &:before
            content: "← "
            font-family: Arial, Helvetica, sans-serif
            font-size: 18px
            line-height: 1
            position: relative
            top: -2px
    .btn-next
        &:after
            content: " →"
            font-family: Arial, Helvetica, sans-serif
            font-size: 18px
            line-height: 1
            position: relative
            top: -2px
.quiz-content-5
    .row
        margin-top: 40px

.tabs-content
    &__item
        display: none
        &.active
            display: block

.video
    position: relative
    cursor: pointer
    img
        max-width: 100%
        height: auto
    &:after
        content: ''
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(29,23,22,.5)
        z-index: 1
    &__btn
        z-index: 2
        cursor: pointer
        width: 90px
        height: 90px
        position: absolute
        top: 50%
        left: 50%
        margin-top: -45px
        margin-left: -45px


.color-block
    height: 220px
    display: block
    position: relative
    text-decoration: none !important
    background-color: #F7F7F7
    margin-top: 20px
    transition: .3s ease
    overflow: hidden
    img
        position: absolute
        top: 0
        max-height: 100%
        width: auto
        right: 0
    &__title
        font-style: normal
        font-weight: 600
        font-size: 26px
        line-height: 130%
        color: #4F4C4D
        position: absolute
        top: 40px
        left: 30px
        z-index: 2
        transition: .3s ease
    &_wide
        img
            right: 65px

    &:hover
        background-color: #F14624
        .color-block
            &__title
                color: #fff

.palette
    height: 130px
    padding: 20px
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 18px
    color: #4F4C4D
    &__title
        font-style: normal
        font-weight: 500
        font-size: 18px
        line-height: 23px

.row-palette
    padding-top: 80px
    .palette
        margin-top: 20px

.blog
    margin-top: 30px
    &__img
        margin-bottom: 20px
        img
            min-height: 239px
            max-width: 100%
            height: auto
            object-fit: cover
    &__title
        text-decoration: none !important
        font-style: normal
        font-weight: 600
        font-size: 26px
        line-height: 1.23
        color: #4F4C4D
        padding-right: 40px
        overflow: hidden
        text-overflow: ellipsis
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
        min-height: 3.69em
        transition: .3s ease
        position: relative
        &:after
            width: 24px
            height: 28px
            content: ''
            display: block
            position: absolute
            right: 0
            top: 0
            background-repeat: no-repeat
            background-position: 0 0
            background-image: url(../images/dist/arr-blog.svg)
        &:hover
            color: $accent

    &__content
        margin-top: 12px
        overflow: hidden
        text-overflow: ellipsis
        display: -webkit-box
        -webkit-line-clamp: 4
        -webkit-box-orient: vertical
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 1.3333
        color: #4F4C4D
        min-height: 5.333333em

    &__date
        margin-top: 30px
        font-style: normal
        font-weight: 400
        font-size: 14px
        line-height: 20px
        color: rgba(79, 76, 77, 0.5)

.loc
    position: relative
    display: flex
    background-color: #F7F7F7
    transition: .3s ease
    color: #4F4C4D
    text-decoration: none
    &__content
        margin-top: auto
        margin-bottom: auto
        padding-left: 30px
        padding-right: 20px
        .heading
            margin-bottom: 10px
        *
            transition: .3s ease
    &__img
        width: 250px
        min-width: 250px
        max-width: 250px
    
    &__more
        margin-top: 30px
        display: flex
        justify-content: space-between
        &-text
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 160%
            color: #F14624
            transition: .3s ease
        &-icon
            svg
                path
                    transition: .3s ease
    ul
        list-style-type: disc
        list-style-position: inside
    img
        max-height: 100%
        width: auto

    .img-battery-red
        position: absolute
        top: 0
        right: -20px
        max-height: 100%
        width: auto

a.loc:hover
    background-color: #F14624
    *
        color: #fff    

    .loc
        &__more
            &-text
                color: #fff
            &-icon
                svg
                    path
                        fill: #fff



.cat-btns
    display: flex
    flex-wrap: wrap
    margin-left: -10px
    margin-right: -10px
    margin-bottom: 60px
    &__item
        min-width: 265px
        max-width: 265px
        text-decoration: none !important
        font-style: normal
        font-weight: 500
        font-size: 20px
        line-height: 130%
        color: #4F4C4D
        transition: .3s ease
        border: 1px solid #4F4C4D
        border-radius: 5px
        background-color: #fff
        text-align: center
        padding-top: 19px
        padding-bottom: 19px
        margin-left: 10px
        margin-right: 10px
        margin-bottom: 20px
        &:hover
            border-color: #DB2E0B
            color: #DB2E0B
        &.active
            color: #fff
            border-color: #DB2E0B
            background-color: #DB2E0B


.pagination
    display: flex
    justify-content: center
    margin-top: 55px
    a
        text-decoration: none !important
        display: block
    *
        margin-left: 10px
        margin-right: 10px
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 160%
        color: #191919
        transition: .3s ease
    &__el
        width: 40px
        height: 40px
        border-radius: 50%
        text-align: center
        line-height: 40px
        border: 1px solid rgba(79,76,77, .5)
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 40px
        color: #191919
        &:hover
            border-color: #F14624
            background-color: #F14624
            color: #fff
        &.current
            border-color: #F14624
            background-color: #F14624
            color: #fff

        &_more
            border: 1px solid rgba(79,76,77, .5) !important
            background-color: #fff !important
            color: #191919 !important
    &__prev
        transform: rotate(180deg)
    &__prev, &__next
        position: relative
        width: 40px
        height: 40px
        border: 0
        display: flex
        opacity: 0.5
        transition: .3s ease
        svg
            position: absolute
            top: 50%
            left: 50%
            margin-left: -8px
            margin-top: -7px
        &:hover
            opacity: 1

@media only screen and (max-width: 1600px)
    .heading
        &_lg
            font-size: 40px

+media-breakpoint-down(xl)
    .heading
        &_md
            font-size: 32px
        &_xmd
            font-size: 30px
        &_sm
            font-size: 24px

    .list
        li
            font-size: 18px
            &:before
                top: 10px

        
    .btn
        padding: 12px 20px
        font-size: 16px
        &_sm
            padding: 8px 37px
    
    .ball
        &__title
            font-size: 16px
    
    .btn-text
        &__text
            font-size: 16px
    .loc
        font-size: 16px
   
        &__img
            width: 180px
            min-width: 180px
            max-width: 180px

        .heading_sm
            font-size: 20px

        &__more
            margin-top: 10px

    .cat-btns
        &__item
            min-width: 220px
            max-width: 220px
            padding-top: 16px
            padding-bottom: 16px
            font-size: 14px

    .old-list
        li
            font-size: 22px
            line-height: 33px
            
+media-breakpoint-down(lg)
    .heading
        &_md
            font-size: 28px
        &_xmd
            font-size: 26px
        &_sm
            font-size: 20px

   
    .showroom
        margin-bottom: 30px

    .typo
        h3
            font-size: 28px
    .breadcrumbs
        display: none

    .row-scroll
        display: flex
        flex-wrap: nowrap
        overflow-x: auto
        margin-bottom: 40px
        -ms-overflow-style: none
        scrollbar-width: none
        .col-item
            width: 280px
        
    .row-scroll::-webkit-scrollbar
        display: none


    .blog
        &__title
            font-size: 20px
            min-height: auto
        &__content
            min-height: auto
            font-size: 16px

    .text-block, .quote-block
        height: auto !important
        padding: 30px 20px

    .quote-block
        flex-direction: column-reverse
        &__img
            margin-top: 20px
            margin-bottom: 0
            display: flex
            width: auto
            min-width: auto
            max-width: none
            img
                width: 60px
                height: 60px
        &__title
            margin-bottom: 20px

        .quote-block__author_mob
            display: block
            flex-grow: 1
            margin-top: auto
            margin-bottom: auto
            padding-left: 10px
        .quote-block__author_desktop
            display: none
    .quote-block

    .quiz-btns
        .btn-prev
            &:before
                top: 0
        .btn-next
            &:after
                top: 0

    .color-block
        &__title
            font-size: 20px
        img
            right: -70px

    .loc
        &__content
            padding: 30px !important
            flex-grow: 1

    a
        &.loc
            .loc__content
                padding: 20px !important

    .iconned-text
        font-size: 16px


    .old-list
        li
            font-size: 18px
            line-height: 27px
            margin-bottom: 5px
+media-breakpoint-down(md)
    .typo
        h1
            font-size: 36px
        h1
            font-size: 32px
        h3
            font-size: 26px
    .img-checkbox, .img-radio
        width: 160px
        height: 160px

    .quiz__content
        padding-left: 20px
        padding-right: 20px
    .quiz__top
        padding: 20px

    .quote
        padding-top: 16px
        padding-left: 20px
        padding-right: 80px
        padding-bottom: 25px
        font-size: 18px
        &:after
            right: 10px  

        &__author
            margin-top: 30px
            font-size: 16px

    .callblock 
        padding: 15px 30px
        &__text
            font-size: 18px

    .capture-block
        padding: 20px
        .btn
            width: 100%
        &:before
            width: calc(100%)
            border: 1px solid #F14624
            height: calc(100% + 5px)
            top: 8px
            left: 8px

        &:after
            width: calc(100%)
            border: 1px solid #fff
            height: calc(100% + 5px)
            top: -11px
            left: -8px

        .heading, .text, .form
            padding-left: 10px
            padding-right: 10px

        .form
            padding-bottom: 8px
            
        .heading_md
            margin-top: 10px
            font-size: 26px

    .btn-text
        margin-top: 20px
        min-height: 50px
        padding-left: 20px
        padding-right: 20px
    .color-block
        img
            right: auto
            left: 200px

    .row-palette
        padding-top: 20px

    .quiz__top-title:before
        display: none

    .img-checkbox, .img-radio
        width: 94px
        height: 94px
        margin-left: 0
        margin-right: 0
    .check__name
        font-size: 10px
    .quiz__content
        padding-top: 20px
        padding-left: 15px
        padding-right: 15px
        padding-bottom: 40px
        .check
            margin-left: 4px
            margin-right: 4px

    .styled-radio label
        font-size: 16px

    .quiz__content .heading_sm
        font-size: 18px

    .loc
        flex-direction: column
        &__img
            width: 100%
            min-width: 100%
            max-width: 100%
            img
                width: 100%
                height: auto

    .cat-btns
        overflow-x: auto
        flex-wrap: nowrap
        margin-left: 0
        margin-right: 0
        -ms-overflow-style: none
        scrollbar-width: none
        margin-bottom: 40px
        &__item
            margin-left: 0
            margin-right: 20px
            padding-top: 14px
            padding-bottom: 14px
            &:last-child
                margin-right: 0

    .cat-btns::-webkit-scrollbar
        display: none


    .cat-btns.cat-btns_straight
        flex-wrap: wrap
        margin-left: -10px
        margin-right: -10px
        .cat-btns__item
            min-width: calc(50% - 20px)
            max-width: calc(50% - 20px)
            margin-left: 10px
            margin-right: 10px

    a
        &.loc
            .loc__more
                margin-top: 30px

+media-breakpoint-down(sm)
    .heading_lg
        font-size: 28px

    .callblock 
        padding: 10px 20px
        &__text
            font-size: 16px
            margin-right: 20px

    .typo
        h1
            font-size: 32px
        h1
            font-size: 28px
        h3
            font-size: 22px


    .col-xs-6
        width: 50%
    
    .cat-btns.cat-btns_straight
        .cat-btns__item
            font-size: 13px